.icon {
    width: 25px;
    height: 25px;
    background-position:center center;
    background-repeat:no-repeat;
    padding: 5px;
    display: block;
}

.control-panel {
    margin: 0 auto;
}
.control-panel li {
    list-style-type:none;
    float: left;
}

.play {
    background-image:url('/static/images/glyphicons_173_play.png');
}

.pause {
    background-image:url('/static/images/glyphicons_174_pause.png');
}

.volume-up {
    background-image:url('/static/images/glyphicons_184_volume_up.png');
}

.volume-down {
    background-image:url('/static/images/glyphicons_183_volume_down.png');
}

.fullscreen {
    background-image:url('/static/images/glyphicons_215_resize_full.png');
}


